<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnEpwI1wvKfo2pyJJy2Pv-u-VDQGsEUYw</string>
	<key>GCM_SENDER_ID</key>
	<string>202208977773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atinity.publicEmergencyApp</string>
	<key>PROJECT_ID</key>
	<string>flutteremergency</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteremergency.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:202208977773:ios:a819c9e05121fea9b42577</string>
</dict>
</plist>
